@page "/"

<PageTitle>Tidawnloader</PageTitle>

<div class="min-h-screen flex items-center justify-center px-4">
    <div class="flex-1 flex flex-col items-center justify-center text-center">
        <h1 class="text-6xl font-bold text-gray-300 mb-4">Tidawnloader</h1>
        <p class="text-gray-400 max-w-xl mb-8">Get started by adding an artist to your library.</p>
        <a href="/library/add" class="bg-gray-200 text-black px-5 py-2 font-semibold hover:bg-white transition-colors duration-75 cursor-pointer">Add artist</a>
    </div>
</div>
